<div class="container">
     <div class="text-center">
      <a href="/reserve"><button class="btn btn-lg btn-danger"><span class="fa fa-credit-card"></span> Make
          Reservation</button></a>
      <a href="/"><button class="btn btn-lg btn-default"><span class="fa fa-home"></span></button></a>
    </div>



<div class="row">
      <div class="col-lg-6 tablereservedContainer">
     <h4 id="tablecontainerheader"><span class="fa fa-user-circle
"> </span> Current reservation</h4>
<h3 class="text-muted">Only 5 tables are available for reservation at this time!Apologies for any inconvenience!</h3>
          {{#if response1}}
{{#each response1}}
<div class="imgContainer">
  <img src="https://img.icons8.com/ios/452/restaurant-table.png" style="background-color:green"  class="image tableImg">
  <div class="overlay">
    <div class="text">Reserved!
             {{this.name}} for a party of {{this.numberinparty}}</div>
  </div>
</div>
          {{!-- <details  class="reservationDetails">
            <summary> Reserved!</summary>
             {{this.name}} for a party of {{this.numberinparty}}
          </details> --}}
          {{/each}}
                    {{/if}}
                    </div>



                <div class="col-lg-6 waitlistContainer">
<p><h4><span class="fa fa-hourglass-half"></span>    
Wait list</h4></p>

            {{#each response2}}
                <ul>
                    {{name}}
                </ul>
                {{/each}}
                </div>
                </div>
                </div>
                     </div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>
                {{!-- <script src="/js/dinein.js"></script> --}}